*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

#container{
    display: flex;
    height: 100vh;
    width: 100%;
    
}

#fondo {
    flex: 1;
    background-image: url('./galaxia.avif'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    height: 100%;
}

/* Formulario de bienvenida */
#welcome {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
}


#welcome h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #333;
}

#welcome h3 {
    margin: 10px 0 20px;
    color: #555;
}


form {
    width: 100%;
    max-width: 500px; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form .form-label {
    font-size: 1.2rem;
    font-weight: bold; 
    color: #333;
    margin-bottom: 5px;
}


form .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 1rem; 
    color: #333;
}

form .form-text {
    font-size: 0.875rem; 
    color: #6c757d; 
    margin-top: -5px; 
    margin-bottom: 15px; 
}

form .form-check-input {
    margin-right: 10px; 
}

form .form-check-label {
    font-size: 0.9rem; 
    color: #555; 
}

form .btn-primary {
    width: 100%; 
    padding: 10px 20px; 
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 5px; 
    font-size: 1rem; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease;
}

form .btn-primary:hover {
    background-color: #0056b3; 
    transform: translateY(-2px); 
}

form .btn-primary:active {
    background-color: #003f7f; 
    transform: translateY(1px); 
}
